<div>
   <h3 class="heading">Frequently Asked Questions</h3>
</div>
<div class="accorrdion">
   <div class="accorrdion-title"  (click)="toggle()">
      &#8196;"Who can see my stuff?"
      <i class="pull-left glyphicon" 
         [ngClass]="
         { 
         'glyphicon-chevron-down': !isExpanded, 
         'glyphicon-chevron-up': isExpanded 
         }">
      </i>
   </div>
   <div *ngIf="isExpanded" class="accorrdion-content">
      Content of who can contact me 
   </div>
   <div class="accorrdion-title"  (click)="toggle()">
      &#8196;"Who can see my stuff?"
      <i class="pull-left glyphicon" 
         [ngClass]="
         { 
         'glyphicon-chevron-down': !isExpanded, 
         'glyphicon-chevron-up': isExpanded 
         }">
      </i>
   </div>
   <div *ngIf="isExpanded" class="accorrdion-content">
      Content of who can contact me 
   </div>
   <div class="accorrdion-title"  (click)="toggle()">
      &#8196;"Who can see my stuff?"
      <i class="pull-left glyphicon" 
         [ngClass]="
         { 
         'glyphicon-chevron-down': !isExpanded, 
         'glyphicon-chevron-up': isExpanded 
         }">
      </i>
   </div>
   <div *ngIf="isExpanded" class="accorrdion-content">
      Content of who can contact me 
   </div>
   <div class="accorrdion-title"  (click)="toggle()">
      &#8196;"Who can see my stuff?"
      <i class="pull-left glyphicon" 
         [ngClass]="
         { 
         'glyphicon-chevron-down': !isExpanded, 
         'glyphicon-chevron-up': isExpanded 
         }">
      </i>
   </div>
   <div *ngIf="isExpanded" class="accorrdion-content">
      Content of who can contact me 
   </div>
   <div class="accorrdion-title"  (click)="toggle()">
      &#8196;"Who can see my stuff?"
      <i class="pull-left glyphicon" 
         [ngClass]="
         { 
         'glyphicon-chevron-down': !isExpanded, 
         'glyphicon-chevron-up': isExpanded 
         }">
      </i>
   </div>
   <div *ngIf="isExpanded" class="accorrdion-content">
      Content of who can contact me 
   </div>
</div>